name: Validate

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  validate_hacs:
    name: "HACS"
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v2"
      - name: HACS validation
        uses: "hacs/integration/action@master"
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CATEGORY: "integration"
  validate_hassfest:
    name: "Hassfest"
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v2"
      - name: Hassfest validation
        uses: "home-assistant/actions/hassfest@master"
  test_flake8_black:
    name: "Test with flake8 and run black"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ matrix.python-version }}-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel
          python -m pip install --upgrade -r requirements.txt
      - name: Install more dependencies
        if: matrix.python-version == '3.8'
        run: |
          python -m pip install --upgrade black isort
      - name: Lint with flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82,D100,D400,D102,D103 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=90 --statistics
      - name: Run formatting
        if: matrix.python-version == '3.8'
        run: |
          python -m isort -v .
          python -m black -v .
          python -m isort -v .
          python -m black -v .
      - name: Detailed stats
        if: matrix.python-version == '3.8'
        run: |
          python -m pip install --upgrade wemake-python-styleguide 2>&1 > /dev/null
          flake8 . --inline-quotes '"' --count --exit-zero --max-complexity=15 --max-line-length=90 --statistics --ignore=I001,WPS305
      - name: Commit files
        if: matrix.python-version == '3.8'
        run: |
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config user.name "GitHub Actions"
          git commit -m "Run formatting" -a || true
      - name: Push changes
        if: matrix.python-version == '3.8'
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
