name: Validate

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  validate_hacs:
    name: "HACS"
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v2"
      - name: HACS validation
        uses: "hacs/integration/action@master"
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CATEGORY: "integration"
  validate_hassfest:
    name: "Hassfest"
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v2"
      - name: Hassfest validation
        uses: "home-assistant/actions/hassfest@master"
  test_advice_flake8:
    name: "Test + advice with flake8"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}-2
          restore-keys: |
            ${{ runner.os }}-pip-2
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel
          python -m pip install --upgrade -r requirements.txt wemake-python-styleguide
      - name: Lint with flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
      - name: Don't mind this
        run: |
          flake8 . --inline-quotes '"' --count --exit-zero --max-complexity=15 --max-line-length=90 --statistics --select=I,P,WPS305,C812,E203,W503,E800
      - name: Docstrings
        run: |
          flake8 . --inline-quotes '"' --count --exit-zero --max-complexity=15 --max-line-length=90 --statistics --select=D,DAR
      - name: Unused stuff
        run: |
          echo "Some stuff may not be used, but is used in commented out code."
          echo "Make sure you check with the find command before you remove anything!"
          flake8 . --inline-quotes '"' --count --exit-zero --max-complexity=15 --max-line-length=90 --statistics --select=F
          echo "Some stuff may not be used, but is used in commented out code."
          echo "Make sure you check with the find command before you remove anything!"
      - name: General stats
        run: |
          flake8 . --inline-quotes '"' --count --exit-zero --max-complexity=15 --max-line-length=90 --statistics --ignore=I,P,WPS305,C812,E203,W503,E800,D,DAR,F
  format:
    name: "Format with black and isort"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}-2
          restore-keys: |
            ${{ runner.os }}-pip-2
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel
          python -m pip install --upgrade -r requirements.txt -r requirements_format.txt
      - name: Pull again
        run: git pull || true
      - name: Run formatting
        run: |
          python -m isort -v .
          python -m black -v --line-length 75 .
          python -m isort -v .
          python -m black -v --line-length 75 .
      - name: Commit files
        run: |
          echo "##[warning] file=.github/workflows/validate.yaml,line=99,col=10::Testing testing 123"
          if [ $(git diff HEAD | wc -l) -gt 30 ]
          then
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config user.name "GitHub Actions"
          git commit -m "Run formatting" -a || true
          git push || true
          fi
